<div class="header">
  Team <%= formattedTeamKey %> Matches at <%= eventKey %>
</div>
<div class="event-info">
  <span>Event: <%= eventKey %></span>
  <span class="now-queuing">Now Queuing: <%= nowQueuing || 'N/A' %></span>
</div>